apiVersion: v1
kind: Service
metadata:
  name: website
  labels:
    name: website
    router.deis.io/routable: "true"
  annotations:
    router.deis.io/domains: bellingham.codes,www.bellingham.codes
spec:
  type: ClusterIP
  selector:
    app: website

  ports:
    - name: http
      port: 80
      protocol: TCP
