
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github:before { content: '\f09b'; } /* '' */
.icon-facebook:before { content: '\f230'; } /* '' */
.icon-instagram:before { content: '\f31f'; } /* '' */